* {
    font-family: 'Roboto', sans-serif;
    font-size: 13px; 
}
body {
    background: linear-gradient(rgb(255, 255, 255, .5), rgb(255, 255, 255, .5)), url(../images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container {
    position: relative;
    background-color: #ffffff; 
    border-radius: 13px;
    max-width: 500px;
    height: 100%;
    margin: 15px 0px;
}
form {
    margin: 50px;
    max-width: 400px;
    height: 500px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.logo img {
    width: 230px;
}
.label {
    width: 100%;
    font-weight: bold;
}
.input {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    border-radius: 5px;
    
    width: 390px;
    text-decoration: none;
    border: none;
    padding: 5px;
    background-color: rgb(233, 245, 245);
}
.check-box {
    accent-color: #6ed797;
}
.signup-btn {
    max-width: 399px;
    width: 100%;
    color: #ffffff;
    background-color: #6ed797;
    padding: 5px;
    margin: 25px 0px 10px 0px;
    border-radius: 5px;
}
p.consent {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
